{% extends 'home/pets_home.html' %} {% load static %} {% block content %}
<section id="why-us" class="wow fadeIn">
    <div class="container">
        <header class="section-header"><br>
            <h3>Available Services</h3>
        </header>

        <section id="portfolio" class="clearfix">
            <header class="section-header">
                <h3 class="section-title">Select Category</h3>
            </header>
            <div class="row">
                <div class="col-lg-12">
                    <ul id="portfolio-flters">
                        <a href="/services_display/">
                            <li data-filter="*" class="filter-active">All</li>
                        </a>

                        <a href="{% url 'sort' name='Veterinary Services' %}">
                            <li>Veterinary Services</li>
                        </a>
                        <a href="{% url 'sort' name='Pet Sitters' %}">
                            <li>Pet Sitters</li>
                        </a>
                    </ul>
                </div>
            </div>
        </section>

        <div class="row row-eq-height justify-content-center">
            {% for p in pets %}
            <div class="col-lg-4 mb-4">
                <div class="card wow bounceInUp">
                    <div class="intro-img">
                        {% if not p.thumbnail %}
                        <img src="{% static 'img/pets.jpg' %}" alt="" class="img-fluid"> {% else%}
                        <img src="{{p.thumbnail.url}}" alt="" class="img-fluid"> {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Type: {{p.Type}}</h5>
                        <p class="card-text">Location: {{p.location}}</p>
                        <p class="card-text">Cost: {{p.cost}}</p>
                        <p class="card-text">Description: {{p.description}}</p>
                        <a href="{% url 'pets_expand' urlhash=p.urlhash %}" class="readmore">Read more </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}