{% extends "dashboard/dashboard.html" %} {% load static %} {% block content %}
<section id="about">
    <div class="container">

        <header class="section-header">
            <br>
            <h3>Pet Type: {{pet.Type}}</h3>
        </header>
        <div class="row about-container">
            <div class="col content order-lg-1 order-2">
                <p>
                    <p><b> Contact Email: {{pet.contact_email}}</b></p>
                    <p><b>Contact Phone: {{pet.contact_phone}}</b></p>
                    <p><b> Location: {{pet.location}}</b></p>
                    <p><b> Price: {{pet.cost}}</b></p>
                    <p><b> Location: {{pet.location}}</b></p>
                    <p><b>Description: {{pet.description}}</b></p>
                    <p><b> Posted on: {{pet.created_at}}</b></p>
                </p>

                <section id="portfolio" class="clearfix">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul id="portfolio-flters">
                                {% if pet.status == 0 %}
                                <a href="{% url 'process_payment' urlhash=pet.urlhash %}">
                                    <li data-filter="*" class="filter-active">Process Payment (Kshs.200)</li>
                                </a>
                                {% endif %}
                                <a href="{% url 'edit_pets' urlhash=pet.urlhash %}">
                                    <li data-filter="*" class="filter-active">Edit details</li>
                                </a>
                                <a href="/dashboard/pets/">
                                    <li data-filter="*" class="filter-active">Go Back</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col background order-lg-2 order-1 wow fadeInUp">
                {% for i in image %}
                <img src="{{i.attachment.url}}" class="img-fluid" alt=""> {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}